# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.launch
*.bin
*.hex
*.elf
*.map
*.list
*.lss
*.d
*.o
*.a
*.srec

# Build output
Debug/
Release/
build/
cmake-build-*/
out/
.settings/

# Generated folders (optional if you use them)
Generated/

# IDEs/editors
.vscode/
.idea/
*.swp
*.bak
*~

# OS junk
.DS_Store
Thumbs.db
